
table {
    border: 1px solid black;
    border-collapse: collapse;
    margin-top: 16px;

}

th, td {
    border: 1px solid black;
    margin: 0;
    padding: 8px;

}

th {
    text-align: left;
    background-color: #F0F0F0;
    font-weight: bold;
}